<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>GIF 채팅방</title>
  </head>
  <body>
    <div>F12를 눌러 console 탭과 network 탭을 확인하세요.</div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io.connect("http://localhost:8005", {
        path: "/socket.io",
        transports: ["websocket"] // 해당 조건이 없으면 polling 먼저 해보고 websocket이 가능하면 websocket 시작 - 싫으면 이 조건을 넣으면 된다.
      });
      socket.on("news", function (data) {
        console.log(data);
        socket.emit("reply", "Hello Node.JS");
      });
      socket.on("vicky", function (data) {
        console.log(data);
        socket.emit("reply", "Hello Vicky");
      });
    </script>
  </body>
</html>
