:root {
  --bg-main-color: #00000080;
  --bg-accent-color: #2d2d2d;
  --accent-color: #29580e;
  --text-accent-color: #ffe498;
  --text-edit-bg-color: #575757;
  --border-color: #3f3f3f;
  --shadow-color: #202020;
  --document-bg-color: #68686850;
  --component-bg-gradient: radial-gradient(circle, #646464e6 0%, #363636e6 100%);
  --content-bg-gradient: rgba(255, 255, 255, .2);
  --modal-bg-gradient: rgba(255, 255, 255, .7);
  --smokywhite: #dddbd8;
  --black: #000000;
  --translucent-black: #00000099;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: var(--smokywhite);
  width: 100vw;
  height: 100vh;
  background: url('./build/static/background.png') no-repeat center center fixed;
  background-size: cover;
}

#root #MotionLogo {
  font-size: 2.5em;
  font-weight: bolder;
  letter-spacing: -1px;
  margin: 20px;
  color: var(--accent-color);
}

#root #MotionBtn {
  background-color: var(--accent-color);
  display: inline-block;
  padding: 10px 25px;
  color: white;
  margin: 0 5px;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

#root #MotionContent {
  width: 80vw;
  height: 100vh;
  margin: 30px 0;
  background: var(--content-bg-gradient);
}

#root #MotionModal {
  position: fixed;
  width: 700px;
  height: 30vh;
  background: var(--modal-bg-gradient);
  border-radius: 10px;
  top: calc(50% - 15vh);
  display: none;
  transition: all 0.5s;
  color: var(--black);
  padding: 30px;
  padding-top: 80px;
  overflow: hidden;
}

#root #MotionModal>div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#root #MotionModal>div>div:not(:last-child) {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#root #MotionModal>div>div label {
  font-size: 18px;
  margin-bottom: 10px;
}

#root #MotionModal>div>div input {
  border: none;
  height: 46px;
  line-height: 1.4;
  padding: 15px;
}

#root #MotionModal .modalInner>div:last-child {
  display: flex;
  justify-content: end;
  ;
}

#root #MotionModal .modalInner button {
  background: var(--accent-color);
  display: inline-block;
  width: 100px;
  padding: 10px;
  color: white;
  outline: none;
  border: none;
  font-size: 18px;
  justify-content: end;
  align-items: end;
}

#root #MotionModal.active {
  display: block;
}